*.log
*.blg
*.toc
*.bbl
*.pdf
*.aux
*.synctex.gz
\#*
.#*
*.out
target.mk
McMasterReport_preamble.tex.mk
McMasterReport_preamble.tex.deps
McMasterReport_preamble.subdeps
makestuff/
macpan_ms.tex.mk
macpan_ms.tex.deps
macpan_ms.subdeps
.DS_Store
*~
.RData
*.Rout
.Rproj.user
macpan_base.Rproj
.Rhistory
*.Rlog
*.rda
*.rtmp
*.args
*.png
